* {
  margin-left: 10px;
  margin-right: 10px;
  a {
    text-decoration: none;
  }

  .buttons {
    display: flex;
    align-items: center;

    button {
      height: 56px;
      width: 140px;
      padding: 0px;
    }
  }
  .inputHeader {
    font-family: Roboto, serif;
    font-weight: 400;
    font-size: 12px;
    h1 {
      color: rgba(#000000, 0.78);
      margin: 50px 0;
    }
  }
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    align-self: flex-start;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #e0e0e0;
    width: 140px;
    height: 56px;
    border-radius: 6px;
  }
  .loadFile {
    height: auto;
    width: auto;
  }

}